form#addCourseForm {
  width: 100%;
  height: 40px;
}

input#addCourseTxtBox {
  width: 85%;
  height: 100%;
  background-color: rgb(203, 204, 204);
  border: none;
  font-size: 20px;
  padding: 20px 0px 20px 10px;
}

input#addCourseBut {
  width: 15%;
  height: 100%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(3, 182, 3);
  border: none;
}

input#addCourseTxtBox:focus {
  outline: 1px solid rgb(255, 166, 0);
}
